*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ddd;
}

/*start header*/
body header{
    padding-top:1%; 
}
body header nav .nav-item .nav-link
{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    padding-right:.9rem !important; 
    
}
body header nav .navbar-brand{
    font-size: 40px;
    font-weight: 500;
}

body .top-header{
    overflow: hidden;
    
}

body .top-header .main-header .part-text{
    padding:15% 1% 0 10%; 

    
    
}
body .top-header .main-header .part-text input[type=tel]{
    background: none;
    border: none;
    box-shadow: 1px 1px 3px #000;
    border-radius: 0;
}
.input-group-text{
   
    background: linear-gradient(to
         right, #FF934B , #FDDB71 );
    
    border-radius: 0 !important;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 500 !important;
    
}

body .top-header .main-header .head-img{
    background-image:url(../img/Mask%20Group%202.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: visible;
    height: 120vh;
   
    
}

/*end header*/


/*start DESIGN*/
body .DESIGN{
    padding-top:12%;
    padding-bottom: 5%;
    overflow: hidden;
}
.span-style{
    letter-spacing: 3.9px;
    font-size: 13px;
}
body .DESIGN p,body .Events p,body .posts p{
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 1.7;
}
body .DESIGN .articls div{
   margin:3% 0;
   padding: 3% 4%;
  
}
body .DESIGN .articls div h5{
    font-weight: 700;
    letter-spacing: .5px;
    word-spacing: 1.7;
}
body .DESIGN .articls div p{
    font-size: 14px;

   
}
body .DESIGN .articls div:nth-child(5){
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
}

/*end DESIGN*/


/*start crafted*/
body .crafted {
    margin-bottom: 3%;
    overflow: hidden;
}
body .crafted .video {
    background-image:url(../img/Rectangle%206.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    
    

}
body .crafted .texts p{
    font-size: 15px;
    
}
body .crafted .texts .btn{
/*    background-color: #FF934B;*/
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
   
     background: linear-gradient(to
         right, #FF934B , #FDDB71 );
}

/*end crafted*/


/*start Events*/
body .Events {
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 2% 0;
    overflow: hidden;
}
body .Events .card{
    margin: 5% 0;
    
    
}
body .Events .card .card-header{

    background-color: #fff !important;
    border-radius: 0 !important;
    border: none;
    box-shadow: 1px 1px 8px #eee;
    
    
    
    
}
body .Events .card .card-header .times-disable {
    background-color: #eaeaea;
    color: #777;
    padding: 2% 3%;
    border-radius:5px;
    letter-spacing: 1px;
    margin-left: 20%;
    border: none;
    
}

body .Events .card .card-header span{
    color: #000;
}
.btn-link:hover,.btn-link:focus{
    text-decoration: none !important;
}
body .Events #headingfour{
    
   background: linear-gradient(to
         right,#6C63FF , #C77CF1 );
    
    
}
body .Events #headingfour span:first-child{
    color: #fff;
}
body .Events .card .card-header .times-active {
    background-color: #eaeaea;
    color: #000;
    padding: 2% 3%;
    border-radius:5px;
    letter-spacing: 1px;
    margin-left: 20%;
    border: none;
    
}

/*end Events*/


/*start testmoinal*/


body .testmoinal{
    margin: 5% 0; 
    overflow: hidden;
}
body .testmoinal i{
    color: #666;
}
body .testmoinal p{
    font-size: 25px;
    letter-spacing: 1px;
    padding: 4% 8% 0 0;
    word-spacing: 3.7;
    color: #777;
}
body .testmoinal img{
    
    border: 1px solid #000;
    border-radius: 50%;
    margin: 2%;
    outline-offset: 1px;
   
}

/*end testmoinal*/

/*start team*/
body .team{
    margin: 5% 0; 
    overflow: hidden; 
    
}
/*
body .team .row div{
    
    
}
*/
body .team .card{
    
    margin: 1% 2%;
     letter-spacing: 1px;
    word-spacing: 2.7px;
    
    
}
body .team .card  .pl-5,body .team .card .px-5 {
    padding-left: 7rem !important;
}
body .team .team-img{
   width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
body .team img{
    margin-left: -17%;
    border: none !important;
    
    
}
body .team .row div:nth-child(3){
     background: linear-gradient(to
         right , #6C63FF, #C77CF1 );
    
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 2.7px;
    
}
    

/*end team*/

/*start posts*/
body .posts{
    margin: 5% 0; 
    overflow: hidden; 
    
}
body .posts .card .card-img-top{
   
}


/*end posts*/


/*start newsletter*/
body .newsletter{
    margin: 5% 0; 
    padding: 5% 0;
    overflow: hidden;
    background: linear-gradient(to
         right , #6C63FF, #C77CF1 );
    color: #fff;
    
}

/*end newsletter*/


body .contact{
    margin: 5% 0; 
    overflow: hidden;
    
}
body .contact .nav-link{
    color: #000;
    
}
body .contact .nav-link:hover{
    color: #777;
}
body .contact .nav-link  .span-btn{
    background-color: #fff ;
    box-shadow: 1px 1px 8px #fff;
    border: 1px solid #777;
    padding: 3% 5%;
    border-collapse: collapse!important;
    text-transform: capitalize;
    font-weight: 600;
    
}






@media all and (max-width:1200px){
body .Events .card .card-header .times-disable,body .Events .card .card-header .times-active {
    margin-left: 2%;
    }

}




